*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* div {
    width: 100px;
    height: 100px;
    background: red;
    transition-property: width, height;
    transition-duration: 2s;
}

div:hover {
    width: 300px;
    height: 300px;
} */
.container{
    padding: 50px;
    margin: 50px;
    width: 40%;
}
.hoverWrapper{
    position: relative;
    width: 80%;
}
.hoverWrapper:hover .hoverImg1{
    opacity: 0;
}
.hoverWrapper:hover .hoverImg2{
    opacity: 1;
}
.hoverImg1{
    /* display: block;
    transition:2s ease-in-out; */
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;

}
/* .hoverImg1:hover{
    opacity: 1;
} */
.hoverImg2{
    /* position: absolute;
    top: 0; */
    transition: 2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    -moz-transform: scale(1) translate(40px, 0px);
-webkit-transform: scale(1) translate(40px, 0px);
-o-transform: scale(1) translate(40px, 0px);
-ms-transform: scale(1) translate(40px, 0px);
transform: scale(1) translate(30px, 0px);
    /* transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    /* text-align: center; */
  
}
.hoverImg{
    /* width: 100%; */
    border-radius: 20px;
}
.hoverSecondImg{
    /* width: 100%; */
    border-radius: 20px;
}
/* .hoverSecondImg, 
.hoverTxt,
.hoverButton */
/* .hoverImg2{
    display: none;  
    opacity: 1;
} */
.hoverImg2Tx{
    color: #fff;
    position: absolute;
    font-weight: 600;
    top: 60px;
    padding: 5px;
}
.hoverTxt{
    position: absolute;
    top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: 600;
    padding: 5px;
    width: 180px;
}
.hoverButton{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    padding: 5px;
}
button{
    border: none;
    border-radius: 20px;
    width: 92px;
    padding: 3px;
    background-color: #4B4F52;
    color: #fff;
    cursor: pointer ;
}